* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

html,
body {
    
    height: 100%;


    & .app {
        padding: 0;
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;

       
    }
}

